.gradle
.iml
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
build
app/build
app/*.iml
volley/*.iml
xphotoview/*.iml
xrichedit/*.iml
golib/golib.iml
golib/golib.aar
pagerslidingtabstrip/build
viewPagerIndicator/build
viewPagerIndicator/*.iml
*.iml
/.idea
/app/*.iml
/app/app.iml
/volley/volley.iml
/xphotoview/xphotoview.iml
/xrichedit/xrichedit.iml
*.apk
mapping\.txt
app/unused.txt
app/out_dexconfig.txt
app/BUILD*
app/seeds.txt
device-2015-05-19-112137.png
app/HISTORY BUILDS/BUILD8/BUILD8.zip
app/HISTORY BUILDS
captures/Snapshot_2015.06.18_17.13.00.hprof
captures/Snapshot_2015.06.18_17.13.49.hprof
.hprof
*.hprof
app/fonts_not_licensed/
app/deprecated
app/beta-out_dexconfig.txt
app/beta-seeds.txt
app/beta-unused.txt
app/beta-mapping.txt
app/debug-mapping.txt
app/debug-out_dexconfig.txt
app/debug-seeds.txt
app/debug-unused.txt
app/release-mapping.txt
app/release-out_dexconfig.txt
app/release-seeds.txt
app/release-unused.txt
